body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

nav {
       width: 1440px;
       height: 72px;
       list-style: none;
}

.logo{
       font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: var(--navy-blue);
        text-decoration: none;
}

span{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-list {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}

address{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        list-style: none;

}
.solutions {
    background-color: #2e2f42;
}

h1 {
      font-weight: 700;
      color: #fff;
      width: 1440px;
      height: 600px;
}

.button {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--white);
}

.button:hover,
.button:focus {
     background-color: #404bbf;
}

h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}

.benefits{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        list-style: none;
}

.our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
        list-style: none;
}

.name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
}

.team {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--slate);
}

.our-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--navy-blue);
        list-style: none;
}

.portfolio {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}

.types {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
}

footer {
        width: 1440px;
        height: 312px;
        background: #2e2f42;
}

footer > .logo {
        color: #f4f4fd;
        text-decoration: none;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}