body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #434455;
    background-color: #FFFFFF;
}

nav {
       width: 1440px;
       height: 72px;
       list-style: none;
}

.logo{
        font-family: "Raleway", sans-serif;
       font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
}

span{
        font-weight: 700;
        font-size: 18px;
        line-height: 1.16667;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.header-list {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        list-style: none;
}

.header-list-studio{
        color: #2e2f42;
}
.header-list-studio:hover,
.header-list-studio:focus{
        color: #404bbf;
}

.header-list-portfolio {
        color: #2e2f42;
}

.header-list-portfolio:hover,
.header-list-portfolio:focus{
        color: #404bbf;
}

.header-list-contacts {
        color: #2e2f42;
}

.header-list-contacts:hover,
.header-list-contacts:focus{
        color: #404bbf;
}

address{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--slate);
        list-style: none;

}

address> contacts{
        font-style: normal;
}

.contacts-mail{
        color: #434455;
        list-style: none;
}

.contacts-mail:hover,
.ontacts-mail:focus {
       color: #404bbf;
}

.contacts-tel{
        color: #434455;  
        list-style: none; 
}

.contacts-tel:hover,
.contacts.tel:focus{
      color:   #404bbf;
}

.main {
    background-color: #2e2f42;
    text-align: center;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 700;
    width: 1440px;
    height: 600px;
}

.main-text{
        font-size: 56px;
        line-height: 1.07
}

.button {
       font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background-color: #4d5ae5;
        cursor: pointer;
}

.button:hover,
.button:focus {
     background-color: #404bbf;
}

h3{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--navy-blue);
}

.section-benefits{
        color: #2e2f42;
}

.section-benefits-list{
        list-style: none;
}
.benefits{
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        list-style: none;
}

.section-team{
        background-color: #f4f4fd;
}

.our-team {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        list-style: none;
        text-transform: capitalize;
}

.team-name-one{
        background-color: #FFFFFF;
        list-style: none;
}
.name {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

.our-portfolio {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        list-style: none;
        text-transform: capitalize;
}

.portfolio {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.types {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

footer {
        width: 1440px;
        height: 312px;
        background-color: #2e2f42;
}

footer > .logo {
        color: #4d5ae5;
        text-decoration: none;
}

.studio{
        color: #f4f4fd;
}

.footer-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}